body{
background-image: url(images/forest.jpg);
background-color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
margin:0;
}
header{
  background-color: rgba(21, 197, 5, 0.801);
  max-height: 150px;
}

.banner{
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
}

.container{
  height: 920px;
  max-width: 960px;
  margin: 0 auto;
}
#logo{
  float:left;
    width:100px;
     height:100px;
}
.forma{
  height: 90%;
  background-color: rgba(22, 231, 3, 0.404);
  margin: 0 auto;
  margin-top:20px;
  padding:10px;
}
footer{
  width:100%;
  background-color: rgba(21, 197, 5, 0.801);
  padding-bottom: 20px; 
  padding-left: 20px;
  margin-top:20px;
  height:40px;
  position: fixed;
  bottom: 0px;

}
.fioerror {
  border: 2px solid red;
}

.emailerror {
  border: 2px solid red;
}

.yoberror {
  border: 2px solid red;
}

._valueerror {
  border: 2px solid red;
}

.sp-sperror {
  border: 2px solid red;
}

.bioerror {
  border: 2px solid red;
}

.galkaerror {
  border: 2px solid red;
}